/* -------- GLOBAL -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    background: #1a1625;
    color: #f8faff;
    overflow-x: hidden;
}

/* -------- SIDEBAR -------- */

#sidebar {
    width: 260px;
    background: #2a2236;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    border-right: 2px solid #3c3350;
    overflow-y: auto;
}

#sidebar h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #c084fc;
    text-align: center;
}

#menu {
    list-style: none;
}

#menu li {
    padding: 12px 14px;
    margin: 8px 0;
    cursor: pointer;
    background: #3c3350;
    border-radius: 8px;
    transition: .25s;
    color: #f3e8ff;
    font-size: 15px;
}

#menu li:hover {
    background: #4b3c64;
}

#menu li.active {
    background: #a78bfa;
    color: #1a1625;
    font-weight: bold;
}

/* -------- MAIN AREA -------- */

#content {
    margin-left: 260px;
    padding: 25px;
    width: calc(100% - 260px);
}

header {
    background: #2a2236;
    border: 2px solid #3c3350;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    color: #c084fc;
}

header p {
    font-size: 15px;
    color: #f9a8d4;
}

/* -------- SECTIONS -------- */

section {
    margin-bottom: 25px;
    background: #2a2236;
    padding: 18px;
    border-radius: 15px;
    border: 2px solid #3c3350;
    font-size: 15px;
    line-height: 1.4;
}

section h2, section h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fde68a;
}

/* -------- EDITOR -------- */

#editor-area {
    display: flex;
    flex-direction: column;
}

#editor {
    width: 100%;
    height: 230px;
    border-radius: 12px;
    padding: 12px;
    font-family: monospace;
    font-size: 15px;
    border: 2px solid #3c3350;
    background: #1a1625;
    color: #c084fc;
    resize: vertical;
}

#editor:focus {
    outline: none;
    border-color: #a78bfa;
}

#runBtn {
    margin-top: 15px;
    padding: 12px;
    background: #c084fc;
    color: #1a1625;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

#runBtn:hover {
    background: #a78bfa;
}

/* -------- OUTPUT -------- */

#output {
    background: #1a1625;
    border-left: 6px solid #c084fc;
    font-family: monospace;
    min-height: 60px;
    color: #f2e9ff;
}

/* -------- FOOTER -------- */

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #f9a8d4;
    font-size: 13px;
}

/* -------- RESPONSIVE -------- */

@media(max-width:850px) {
    #sidebar {
        display: none;
    }
    #content {
        margin-left: 0;
        width: 100%;
    }
}
