/* Colores base */
:root {
    --bg: #0d0c0d;
    --card: #19181a;
    --accent: #e31b2d;
    --accent-light: #ff5a69;
    --text: #f2f2f2;
}

/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas", monospace;
}

body{
    background: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout{
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar */
.sidebar{
    width: 250px;
    background: #141315;
    padding: 20px;
    border-right: 2px solid var(--accent);
    display: flex;
    flex-direction: column;
}

.logo{
    color: var(--accent-light);
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    letter-spacing: 1px;
    text-shadow: 0 0 10px var(--accent);
}

.menu-title{
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--accent-light);
}

.level-btn{
    margin: 6px 0;
    padding: 10px;
    width: 100%;
    background: var(--card);
    border: 1px solid var(--accent);
    color: var(--text);
    cursor: pointer;
    text-align: left;
    border-radius: 6px;
    transition: 0.2s;
}

.level-btn.active{
    background: var(--accent);
}

.level-btn.locked{
    color: #777;
    border: 1px solid #555;
    cursor: not-allowed;
}

.level-btn:hover:not(.locked){
    background: var(--accent-light);
}


/* Main */
.game-container{
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.game-header{
    margin-bottom: 20px;
}

#levelTitle{
    font-size: 28px;
    text-shadow: 0 0 10px var(--accent);
}

.game-story,
.game-explanation,
.game-task{
    background: var(--card);
    padding: 20px;
    border-left: 4px solid var(--accent);
    margin-bottom: 20px;
    border-radius: 6px;
}

.editor-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#editor{
    flex: 1;
    height: 150px;
    background: black;
    color: #00ff00;
    border: 2px solid var(--accent);
    padding: 10px;
    border-radius: 6px;
}

#runBtn{
    width: 150px;
    background: var(--accent);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    transition: .2s;
}

#runBtn:hover{
    background: var(--accent-light);
}

.result{
    min-height: 40px;
    padding: 10px;
    font-size: 18px;
}


/* Footer */
.footer{
    text-align: center;
    padding: 10px;
    background: #131213;
    border-top: 2px solid var(--accent);
}
